<%- include("layout/main", {title: "Register"}) %>

<body>
  <main>
    <form form action="/auth/signup" method="post" class="register-form">
      <!-- Username input -->

      <div class="form-outline mb-4">
        <input type="text" id="name" name="username" />
        <label for="name">Username</label>
      </div>

      <!-- Email input -->

      <div class="form-outline mb-4">
        <input type="email" id="mail" name="email" />
        <label for="mail">Email</label>
      </div>

      <!-- Password input -->

      <div class="form-outline mb-4">
        <input type="password" id="pass" name="password" />
        <label for="pass">Password</label>
      </div>

      <!-- Submit button -->

      <button type="submit" class="btn btn-primary btn-block mb-4">
        Sign up
      </button>

      <!-- Register buttons -->

      <div>
        <a href="/auth/login">Log In</a>
      </div>
    </form>
  </main>
</body>
</html>
