<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <h2 class="logo navbar-brand">Servidor Express - EJS</h2>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a href="/" class="nav-item nav-link active">HOME</a>
      <a href="/api/products" class="nav-item nav-link active">PRODUCTS</a>
      <a href="#" class="nav-item nav-link active">CART</a>
    </div>
  </div>
</nav>
